<h1>Listing all blogs</h1>
<%= link_to 'Home', root_path %>

<hr>
<hr>

<% @blogs.each do |blog| %>
  <%= link_to 'Show', anime_blog_path(blog.id) %>
  <%= link_to 'Delete', anime_blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' } %> <br>
  <h3>Blog By : </h3><%= blog.blog_by %>
  <h3>Anime Name : </h3><%= blog.anime_name %>
  <h3>Description : </h3><%=  blog.desc %><br>
  <br>
  <hr>
<% end %>


<hr>
